<!DOCTYPE html>
<html lang="es"
    xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
</head>
<body>

	<div layout:fragment="form">
		<br>
		<form action="" method="post" th:object="${pelicula}"
			enctype="multipart/form-data">
			<div class="mb-3">
				<label for="titulo" class="form-label">Nombre de Proyecto: </label> <input
					type="text" id="titulo" placeholder="Digite el titulo"
					class="form-control" th:field="*{titulo}">
				<div class="invalid-feedback" th:if="${#fields.hasErrors('titulo')}"
					th:errors="*{titulo}"></div>
			</div>
			<div class="mb-3">
				<label for="generos" class="form-label">nombre QA: </label> <select
					id="generos" class="form-control" th:field="*{generos}">
					<option th:each="genero : ${generos}" th:value="${genero.id}"
						th:text="${genero.titulo}"></option>
				</select>
				<div class="invalid-feedback"
					th:if="${#fields.hasErrors('generos')}" th:errors="*{generos}"></div>
			</div>

			<div class="mb-3">
				<label for="sinopsis" class="form-label">Sinopsis : </label>
				<textarea id="sinopsis" placeholder="Digite la sinopsis"
					class="form-control" th:field="*{sinopsis}"></textarea>
				<div class="invalid-feedback"
					th:if="${#fields.hasErrors('sinopsis')}" th:errors="*{sinopsis}"></div>
			</div>
           <!-- Campo nombre que no se utiliza
			<div class="mb-3">
				<label for="nombre" class="form-label">Nombre de QA: </label> <input type="text" id="nombre"
					placeholder="Digite la fecha de estreno" class="form-control"
					th:field="*{nombre}">
				<div class="invalid-feedback"
					th:if="${#fields.hasErrors('nombre')}"
					th:errors="*{nombre}"></div>
			</div>
             -->
			<div class="mb-3">
				<label for="youtubeTrailerId" class="form-label">Link ambiente test: </label> <input type="text" id="youtubeTrailerId"
					placeholder="Link ambiente test" class="form-control"
					th:field="*{youtubeTrailerId}">
				<div class="invalid-feedback"
					th:if="${#fields.hasErrors('youtubeTrailerId')}"
					th:errors="*{youtubeTrailerId}"></div>
			</div>
			<div class="mb-3">
				<label for="portada" class="form-label">Portada : </label> <input
					type="file" name="portada" id="portad" class="form-control"
					th:field="*{portada}">
				<div class="invalid-feedback"
					th:if="${#fields.hasErrors('portada')}" th:errors="*{portada}"></div>
			</div>

			<div class="text-end">
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</form>
	</div>
</body>
</html>