.texto-alineado, nav ul li a {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#home h2, #destacados h2, #novedades h2, #search h2{
    background-color: skyblue;
    text-align: center;
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    height: 42px;
    box-sizing: border-box;
    color:dodgerblue;
}

/*home*/
#home div, #home p, #home figure {
    margin: 0;
    padding: 0;
}

#home {
    max-width: 1024px;
    margin: auto;
}

#home h2 {
    /* background-color: transparent; */
    /* background-color: lightgoldenrodyellow; */
    background-color: wheat;
    margin: auto -64px;
}

#home div, aside {
    padding: 1em;
}

#home .left {
    width: 67%;
    float: left;
}

#home .left p {
    text-align: justify;
}

#home .left p::first-letter {
    float: left;
    font-size: 2em;
    padding-right: 2px;
}

#home .right {
    background-color: inherit;
    max-width: 15%;
    float: right;
}

#home .img {
    width: 2px;
    height:2px;
}

#home .right img {
    width: 100%;
    border-radius: 100%;
}

#home .right figcaption {
    padding: 3px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#home .right figcaption strong {
    display: block;
    padding-bottom: 4px;
    font-size: 120%;
}

aside.sitios-externos {
    clear: both;
    position: relative;
    /* margin-left-max: 64px; */
    /* top: 0; */
    font-size: 0.95em;
    max-width: 200px;
    border: 5px double black;
    margin: auto;
    margin-bottom: 1em;
}

aside.sitios-externos ul {
    margin-top: 4px;
    margin-bottom: 0;
    padding-left: 1.5em;
    list-style-type: square;
}

aside.sitios-externos a {
    text-decoration: none;
    color: blue;
}

aside.sitios-externos a:hover {
    opacity: 0.6;
    color: cornflowerblue;
}