<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
<meta charset="utf-8">
 <link rel="stylesheet" href="css/style.css"> 
<title>QA</title>
</head>
<body>

  <div layout:fragment="content">
	<div class="bg-light p-2 rounded">
	   <h1 class="display-1 text-success ">Bienvenido al area a SoftQA</h1>
	  
	</div>	
	
	
	<main id="home">
        <h2 class="texto-alineado">¿Quienes somos?</h2>

        <div class="left">
            <p>
                QA Tester (Quality Assurance) es un asegurador de la calidad. Es un perfil profesional orientado 
                principalmente a la medición de la calidad de los procesos utilizados para 
                crear un producto de calidad.<br/><br/>
    
                Entre sus funciones se encuentran el diseño y la ejecución integral de pruebas, la medición sistemática,
                la comparación con estándares, el seguimiento de los procesos… todas ellas encaminadas a la prevención 
                de errores durante el proceso de desarrollo del producto. <br/><br/>   
            </p>
            

            <p>
                QA se realiza durante todas las etapas del proyecto. Se centra más en la prevención que en la detección. 
                El proceso de aseguramiento de la calidad tiene como objetivo proporcionar una adecuada garantía de que 
                los productos de software se ajustan a sus necesidades específicas y a los planes establecidos 
                anteriormente.<br/><br/>
    
                Los sectores que más demandan este perfil son los dedicados al software, es en ellos dónde el trabajo
                de aseguramiento de la calidad es más diverso, puesto que dependiendo de la importancia del software, 
                de la estructura de la organización, de las tecnologías de las que disponen, etc, los procesos a efectuar 
                por parte de los encargados del QA son diferentes. <br><br>
            </p>

            <p> 
                <img src="img/QA2.jpg" alt="imagen" width="600" height="400">
              </p>
           
        </div>
        <div class="right">
            <figure>
                <img src="img/mati.png" alt="imagen del Dj">
                <figcaption>
                    <strong>Lead QA</strong>
                    <em>Matias Feder</em>
                </figcaption>
            </figure>

            <figure>
                <img src="img/cintia.png" alt="imagen del Dj">
                <figcaption>
                    <strong>Test Runner</strong>
                    <em>Cintia Ruminott</em>
                </figcaption>
            </figure>

            <figure>
                <img src="img/Victor1.jpg" alt="imagen del Dj">
                <figcaption>
                    <strong>Test Runner</strong>
                    <em>Victor Gimenez</em>
                </figcaption>
            </figure>

            <figure>
                <img src="img/juani.png" alt="imagen del Dj">
                <figcaption>
                    <strong>Test Runner</strong>
                    <em>Juan Ignacio</em>
                </figcaption>
            </figure>
        </div>

        <div class="right">
            <figure>
                <img src="img/fer.png" alt="imagen del Dj">
                <figcaption>
                    <strong>Test Planner</strong>
                    <em>Fernando Fader</em>
                </figcaption>
            </figure>

            <figure>
                <img src="img/sabrina.png" alt="imagen del Dj">
                <figcaption>
                    <strong>Test Runner</strong>
                    <em>Sabrina Buchiazzo</em>
                </figcaption>
            </figure>

            <figure>
                <img src="img/Lucas.png" alt="imagen del Dj">
                <figcaption>
                    <strong>Test Runner</strong>
                    <em>Lucas Gomez</em>
                </figcaption>
            </figure>

            <figure>
                <img src="img/paloma.png" alt="imagen del Dj">
                <figcaption>
                    <strong>Test Runner</strong>
                    <em>Paloma Martinez</em>
                </figcaption>
            </figure>
        </div>

       
    </main>
	<!-- 
	<div class="row">
	    <div class="col-md-3 my-5" th:each="pelicula : ${ultimasPeliculas}" th:object="${pelicula}">
	       <a th:href="@{/peliculas/{id}(id=*{id})}" class="card shadow-lg" style="text-decoration:none;">
	       <img th:src="@{/assets/{filename}(filename=*{rutaPortada})}" th:alt="*{titulo}" class="card-img-top">
	       <div class="card-body">
	          <h2 class="card-title fs-6" th:text="*{titulo}"></h2>
	          <p th:text="*{#temporals.format(fechaEstreno,'dd/MM/yyyy')}" class="text-muted small"></p>
	       </div>
	       </a>
	    </div>
	</div>
-->
  </div> 
</body>
</html>